@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --main-color: #0066BD;
  --text-color: #222222;
  --textSub-color: #737373;
  --footer-textColor: #b5b5b5;
}
* {
  font-family: 'Noto Sans KR', sans-serif;
}
body {
  width: 100%;
  max-width: 1980px;
  margin: auto;
}
.container {
  width: 100%;
  height: calc(100vh - 140px);
  position: relative;
  margin-top: 140px;
}
.container>.swiper-wrapper>.swiper-slide {
  opacity: 0.3;
  transition: .3s;
}
/* .container>.swiper-wrapper>.swiper-slide:nth-child(5) {
  height: 300px !important;
} */
.container>.swiper-wrapper>.swiper-slide-active {
  opacity: 1;
}
.inner {
  width: 90%;
  max-width: 1300px;
  height: 100%;
  margin: auto;
}
.container .swiper-pagination-bullet {
  position: relative;
  background-color: white;
}
.container .swiper-pagination-bullet::after {
  width: 100px;
  position: absolute;
  right: 30px;
  top: -6px;
  color: var(--main-color);
  font-size: 1.25rem;
  font-weight: bold;
  background-color: white;
  border-radius: 50px;
  padding: 3px 0;
}
.container .swiper-pagination-bullet:nth-child(1) {
  top: -30px;
}
.container .swiper-pagination-bullet:nth-child(1)::after {
  content: '검색';
}
.container .swiper-pagination-bullet:nth-child(2) {
  top: -10px;
}
.container .swiper-pagination-bullet:nth-child(2)::after {
  content: '소식';
}
.container .swiper-pagination-bullet:nth-child(3) {
  top: 10px;
}
.container .swiper-pagination-bullet:nth-child(3)::after {
  content: '도서관문화';
}
.container .swiper-pagination-bullet:nth-child(4) {
  top: 30px;
}
.container .swiper-pagination-bullet:nth-child(4)::after {
  content: '협회몰';
}
.container .swiper-pagination-bullet:nth-child(5) {
  display: none;
}
.top-bottom-btn {
  position: fixed;
  width: 50px;
  height: 105px;
  right: 5%;
  bottom: 5%;
  z-index: 10;
  display: none;
}
.top-bottom-btn>a {
  position: absolute;
  z-index: 10;
}
.top-btn {
  top: 0;
}
.bottom-btn {
  bottom: 0;
}
.top-bottom-btn svg {
  fill: var(--main-color);
}
/* header */
.header {
  width: 100%;
  max-width: 1980px;
  height: 60px;
  display: flex;
  justify-content: end;
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: #fff;
}
.header ul,
.site-map-login {
  width: 400px;
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.header li,
.site-map-login li {
  flex: 1;
  text-align: center;
  border-right: 1px solid var(--textSub-color);
}
.header li:last-child,
.site-map-login li:last-child {
  border-right: none;
}
.header a {
  color: var(--textSub-color);
}
.header a:hover {
  text-decoration: underline;
}
/* nav */
.nav {
  width: 100%;
  max-width: 1980px;
  height: 80px;
  background-color: white;
  position: fixed;
  z-index: 10;
  top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 -2px 1px -1px rgba(0, 0, 0, 0.3);
}
.logo {
  width: 15%;
  height: 80px;
  max-width: 245px;
  position: absolute;
  left: 40px;
}
.logo img {
  width: 100%;
  height: 100%;
}
.gnb {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  transition: .5s;
}
.sub-bg {
  width: 100%;
  height: 0;
  position: absolute;
  background-color: white;
  left: 0;
  top: 80px;
  transition: .3s;
}
.gnb>li>a {
  height: 100%;
  line-height: 80px;
  display: block;
  color: var(--text-color);
  font-weight: 500;
  transition: .3s;
}
.gnb>li>a:hover {
  color: var(--main-color);
  font-weight: 900;
}
.gnb>li {
  height: 100%;
  flex: 1;
  text-align: center;
  position: relative;
}
.sub-menu {
  width: 100%;
  height: 0;
  position: absolute;
  top: 79px;
  left: 50%;
  padding-top: 20px;
  transform: translateX(-50%);
  z-index: 10;
  text-align: center;
  font-size: 1rem;
  background-color: white;
  border: 1px solid #00000050;
  border-top: 5px solid var(--main-color);
  overflow: hidden;
  transition: .3s;
  opacity: 0;
  visibility: hidden;
  border-radius: 0 0 10px 10px;
  box-sizing: border-box;
}
.sub-menu.on {
  visibility: visible;
  opacity: 1;
  height: 260px;
}
.sub-menu>li>a {
  display: block;
  padding: 8px 0;
  color: var(--text-color);
  transition: .2s;
}
.sub-menu>li>a:hover {
  background-color: #0066bd50;
  color: white;
}
/* site-map background */
.site-map {
  position: absolute;
  width: 100%;
  height: 0;
  background-color: white;
  left: 0;
  top: 0;
  border: 1px solid #00000020;
  border-radius: 0 0 50px 50px;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  box-sizing: border-box;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}
.title-parent {
  border: 1px solid #00000020;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 5px;
  cursor: pointer;
  background-color: white;
  position: relative;
}
.title-parent.on {
  background-color: var(--main-color);
}
.title-parent>a {
  padding: 0 10px;
}
.title-parent.on>a {
  color: white;
  font-weight: 700;
  padding-bottom: 10px;
}
.site-map-title {
  display: block;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}
.site-map-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  position: absolute;
  border: none;
  cursor: pointer;
  transition: .3s;
  right: 5%;
}
.site-map-btn:hover {
  transform: rotate(90deg);
}
.site-map-btn span {
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  top: 44%;
  border-radius: 50px;
  background-color: var(--textSub-color);
}
.title-parent.on .site-map-btn span {
  background-color: white;
}
.title-parent.on .site-map-btn {
  top: 10px;
}
.site-map-btn span:last-child {
  transform: rotate(90deg);
}
.site-map-login {
  display: none;
}
.site-map.on {
  opacity: 1;
  visibility: visible;
  height: calc(100vh - 60px);
}
.site-map-item {
  height: 0;
  line-height: 2.5rem;
  box-sizing: border-box;
  overflow: hidden;
  transition: .3s;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
}
.title-parent.on .site-map-item {
  height: 350px;
}
.site-map-item a:hover {
  color: white;
  background-color: #0066BD50;
}
.site-map-item li {
  flex: 1;
}
.site-map-item a {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  color: black;
  padding: 0 30px;
}
/* trigger */
.trigger {
  width: 25px;
  height: 20px;
  position: absolute;
  right: 40px;
  cursor: pointer;
  display: none;
}
.trigger > span {
  width: 100%;
  height: 4px;
  border-radius: 50px;
  background-color: var(--text-color);
  position: absolute;
  transition: .3s;
}
.trigger.on > span {
  background-color: white;
}
.trigger > span:nth-child(1) {top: 0;}
.trigger > span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%)
}
.trigger > span:nth-child(3) {bottom: 0;}
.trigger.on span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.trigger.on span:nth-child(2) {opacity: 0;}
.trigger.on span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
/* main */
.main {
  background: black url(../images/main-bg.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
  color: white;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
}
.main-header {
  font-size: 3.75rem;
  text-align: center;
  font-weight: bold;
  line-height: 6rem;
}
.main-search {
  width: 700px;
  height: 65px;
  padding: 1rem;
  border: 3px solid #cccccc;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
  background-image: url(../images/icon/main-zoomIn.svg);
  background-repeat: no-repeat;
  background-position: 97% center;
  margin: 2rem 0;
}
.main-search::placeholder {
  color: var(--text-color);
  font-weight: 600;
}
.main-icon {
  width: 370px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.main-icon-wrap>a {
  display: block;
  color: white;
}
.main-icon-wrap>a>div {
  width: 90px;
  height: 90px;
  background-color: white;
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  transition: .3s;
}
.main-icon-wrap>a>div>svg {
  width: 50%;
  fill: var(--text-color);
}
.main-icon-wrap>a>div:hover {
  background-color: #0066BD;
}
.main-icon-wrap>a>div:hover>svg {
  fill: white;
}
.main-icon-wrap>a p {
  margin-top: 20px;
}


/* news */
.news {
  background: url(../images/news/news-bg.svg) no-repeat;
  background-position: -600px -400px;
}

.news-inner>p {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--main-color);
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin-top: 50px;
  margin-bottom: 10px;
}
.news-inner>h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}
.news-item-wrap {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.news-tab-wrap {
  position: relative;
}
.news-tab {
  display: flex;
}
.news-tab>li>a {
  border: 1px solid #00000020;
  border-bottom: 0;
  width: 120px;
  height: 50px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: .2s;
}
.news-tab>li:nth-child(1)>a,
.news-tab>li:nth-child(2)>a {
  border-right: none;
}
.news-tab>li>a.on,
.news-tab>li>a:hover {
  background-color: var(--main-color);
  color: white;
  font-weight: 700;
}

.news-tab-content {
  width: 800px;
  height: 540px;
  padding: 30px;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid #00000020;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}
.news-tab-content:nth-child(3),
.news-tab-content:nth-child(4) {
  display: none;
}
.news-tab-content>li>a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  box-sizing: border-box;
  transition: .2s;
}
.news-tab-content>li>a:hover {
  box-shadow: inset 0 -2px 1px -1px #00000050 ;
}
.news-tab-content>li>a:hover p {
  font-weight: 600;
  color: var(--text-color);
}
.news-tab-content p {
  width: 580px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--textSub-color);
  font-size: 1.25rem;
}
.news-tab-content span {
  display: block;
  color: #999999;
  font-weight: 300;
  font-size: 1.25rem;
}
.news-tab-wrap .plus-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.plus-icon svg {
  fill: var(--textSub-color);
  transition: .3s;
}
.plus-icon:hover svg {
  fill: var(--main-color);
}

/* news-slide */
.news-slide {
  width: 475px;
  margin: 0;
  border: 1px solid #00000020;
  padding-bottom: 45px;
  position: relative;
  border-radius: 0 0 10px 10px;
}
.news-slide .swiper-slide img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.news-slide .swiper-button-prev,
.news-slide .swiper-button-next {
  width: 20px;
  height: 20px;
  top: 98.5%;
}
.news-slide .swiper-button-prev img,
.news-slide .swiper-button-next img {
  width: 100%;
  height: 100%;
  position: absolute;
}
.news-slide .swiper-button-prev::after,
.news-slide .swiper-button-next::after {
  opacity: 0;
}
.news-slide .swiper-pagination2 {
  display: block;
  position: absolute;
  left: 47%;
  bottom: 15px;
}

/* culture */
.culture {
  background: url(../images/culture/culture-bg.svg) no-repeat;
  background-position: -400px -10px;
}
.culture-inner {
  position: relative;
}
.culture-inner>p {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--main-color);
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin-top: 50px;
  margin-bottom: 10px;
}
.culture-inner>h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}
.year {
  display: flex;
  justify-content: center;
  margin: 70px 0 50px;
}
.year a {
  display: block;
  border: 1px solid #00000040;
  padding: 0.5rem 1rem;
  margin: 0 1.25rem;
  font-size: 2rem;
  color: var(--textSub-color);
  border-radius: 20px 0 20px 0;
}
.year a.on,
.year a:hover {
  border-color: var(--main-color);
  color: var(--main-color);
}
.culture .plus-icon {
  position: absolute;
  top: 190px;
  right: 30px;
}
.culture .swiper {
  height: 400px;
  transition: .5s;
}
.culture .swiper img {
  width: 100%;
  height: 100%;
  transition: .3s;
  cursor: pointer;
}
.culture-content-2020,
.culture-content-2021,
.culture-content-2023,
.culture-content-2022 {
  display: none;
}
.culture .swiper.on {
  display: block;
}
.culture .swiper .swiper-slide {
  height: 285px;
  overflow: hidden;
}
.culture .swiper .swiper-slide::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #33333379;
  position: absolute;
  left: 0;
  top: 80%;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 15px;
  transition: .3s;
  cursor: pointer;
}
.culture .swiper .swiper-slide:hover::after {
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.culture .swiper .swiper-slide:hover img {
  transform: scale(1.1);
}
/* 2023 */
.culture-content-2023 .swiper-slide:nth-child(1):after {content: '1, 2월 호';}
.culture-content-2023 .swiper-slide:nth-child(2):after {content: '3월 호';}
.culture-content-2023 .swiper-slide:nth-child(3):after {content: '4월 호';}
.culture-content-2023 .swiper-slide:nth-child(4):after {content: '5월 호';}
.culture-content-2023 .swiper-slide:nth-child(5):after {content: '6월 호';}
.culture-content-2023 .swiper-slide:nth-child(6):after {content: '7, 8월 호';}
.culture-content-2023 .swiper-slide:nth-child(7):after {content: '9월 호';}
.culture-content-2023 .swiper-slide:nth-child(8):after {content: '10월 호';}
/* 2022 */
.culture-content-2022 .swiper-slide:nth-child(1):after {content: '1, 2월 호';}
.culture-content-2022 .swiper-slide:nth-child(2):after {content: '3월 호';}
.culture-content-2022 .swiper-slide:nth-child(3):after {content: '4월 호';}
.culture-content-2022 .swiper-slide:nth-child(4):after {content: '5월 호';}
.culture-content-2022 .swiper-slide:nth-child(5):after {content: '6월 호';}
.culture-content-2022 .swiper-slide:nth-child(6):after {content: '7, 8월 호';}
.culture-content-2022 .swiper-slide:nth-child(7):after {content: '9월 호';}
.culture-content-2022 .swiper-slide:nth-child(8):after {content: '10월 호';}
.culture-content-2022 .swiper-slide:nth-child(9):after {content: '11월 호';}
.culture-content-2022 .swiper-slide:nth-child(10):after {content: '12월 호';}
/* 2021 */
.culture-content-2021 .swiper-slide:nth-child(1):after {content: '1월 호';}
.culture-content-2021 .swiper-slide:nth-child(2):after {content: '2월 호';}
.culture-content-2021 .swiper-slide:nth-child(3):after {content: '3월 호';}
.culture-content-2021 .swiper-slide:nth-child(4):after {content: '4월 호';}
.culture-content-2021 .swiper-slide:nth-child(5):after {content: '5월 호';}
.culture-content-2021 .swiper-slide:nth-child(6):after {content: '6월 호';}
.culture-content-2021 .swiper-slide:nth-child(7):after {content: '7월 호';}
.culture-content-2021 .swiper-slide:nth-child(8):after {content: '8월 호';}
.culture-content-2021 .swiper-slide:nth-child(9):after {content: '9월 호';}
.culture-content-2021 .swiper-slide:nth-child(10):after {content: '10월 호';}
.culture-content-2021 .swiper-slide:nth-child(11):after {content: '11월 호';}
.culture-content-2021 .swiper-slide:nth-child(12):after {content: '12월 호';}
/* 2020 */
.culture-content-2020 .swiper-slide:nth-child(1):after {content: '1, 2월 호';}
.culture-content-2020 .swiper-slide:nth-child(2):after {content: '3, 4월 호';}
.culture-content-2020 .swiper-slide:nth-child(3):after {content: '5, 6월 호';}
.culture-content-2020 .swiper-slide:nth-child(4):after {content: '7, 8월 호';}
.culture-content-2020 .swiper-slide:nth-child(5):after {content: '9, 10, 11, 12월 호';}

/* culture-next,prev button */
.mall .swiper-button-next::after,
.mall .swiper-button-prev::after,
.culture .swiper .swiper-button-next::after,
.culture .swiper .swiper-button-prev::after {
  opacity: 0;
}
.mall .swiper-button-next,
.mall .swiper-button-prev,
.culture .swiper .swiper-button-next,
.culture .swiper .swiper-button-prev {
  position: absolute;
  top: 90%;
  width: 55px;
  height: 55px;
}
.mall .swiper-button-next svg,
.mall .swiper-button-prev svg,
.culture .swiper .swiper-button-next svg,
.culture .swiper .swiper-button-prev svg {
  width: 100%;
  height: 100%;
  position: absolute;
  fill: var(--textSub-color);
}
.mall .swiper-button-next:hover svg,
.mall .swiper-button-prev:hover svg,
.culture .swiper .swiper-button-next:hover svg,
.culture .swiper .swiper-button-prev:hover svg {
  fill: var(--main-color);
}





/* mall */
.mall {
  background: url(../images/mall/mall-bg.svg);
}
.mall-inner {
  position: relative;
}
.mall .plus-icon {
  position: absolute;
  top: 120px;
  right: 30px;
}
.mall-inner>p {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--main-color);
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin-top: 50px;
  margin-bottom: 10px;
}
.mall-inner>h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}
.mall-content {
  height: 450px;
  margin-top: 105px;
}
.mall-content .swiper-slide {
  height: 295px;
  position: relative;
  cursor: pointer;
}
.mall-content .swiper-slide img {
  width: 100%;
  height: 100%;
}
.mall-content-text {
  width: 99%;
  height: 45px;
  border: 1px solid #00000020;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.813rem;
  text-align: center;
}
.mall-content-text p {
  font-weight: 700;
  color: var(--text-color);
}
.mall-content-text span {
  color: var(--textSub-color);
  margin-top: 10px;
}
.mall-content .swiper-slide:hover p,
.mall-content .swiper-slide:hover span {
  text-decoration: underline;
}




/* footer */
.footer {
  width: 100%;
  max-width: 1980px;
  height: 100%;
  position: relative;
}
.business02,
.business {
  width: 90%;
  max-width: 1500px;
  height: 150px;
  padding: 0 30px;
  box-sizing: border-box;
  margin-top: 50px;
}
.business02 img,
.business img {
  cursor: pointer;
}
.business02 {
  margin-bottom: 50px;
}
.business02 .swiper-slide,
.business .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.business02 .swiper-button-next::after,
.business02 .swiper-button-prev::after,
.business .swiper-button-next::after,
.business .swiper-button-prev::after {
  opacity: 0;
}
.business02 .swiper-button-next
.business .swiper-button-next {
  right: -10px;
}
.footer-top {
  height: 108px;
  background-color: #393939;
}
.footer-top>.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-top>.footer-inner>a {
  color: #FD7D29;
  font-size: 0.938rem;
}
.footer-top form select {
  width: 140px;
  height: 30px;
  background-color: transparent;
  border: 1px solid var(--footer-textColor);
  color: var(--footer-textColor);
  cursor: pointer;
}
.footer-bottom {
  background-color: #353535;
  height: calc(300px - 18px);
}
.footer-bottom .footer-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2rem;
}
.footer-bottom p {
  font-size: 00.938rem;
  color: var(--footer-textColor);
}